* {
  box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: block;

}

.page-wrap {
  /*width: 100vw;*/
  width: 800px;
  margin: 20px auto;
}

.main-heading h1
{
  position:fixed;
  z-index: 1;
  top: 1em;
  height: 50px;
/*  padding-top: 1em;*/
  color: black;
  background-color:white;
  font-size: 2em;
  width: 800px;
/*  float:left;*/
}

.main-heading p
{
  position: relative;
  height: 100px;
  top:3em;
  float: left;
/*  padding-left: 5px;*/
}


.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

a {
  color: lightblue;
}

.story-intro {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  color: white;
  line-height: 1.5em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em;
}
.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;

}
.sub-story {
  float: left;
  width: 240px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
  justify-content: center;
}

.last {
  /*margin-right: 0;*/
  margin-left:22em;
  /*height: 90px*/
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */

    [class="page-wrap"] {
          width: 100vw;

        }

   [class="col-md-4"] {
        width: 100%;
       font-size:15px;
        padding: 5px;
        float: left;
  }
  [class="main-heading"] {
    font-size:15px;
    padding-left:auto;

}
    [class="col-md-6"] {
        font-size:12px;
}

    [class="cc"] {
     display: block;
     position:cover;
     width: 100vw;
    }

    [class="sub-stories"] {
      display: block;
     position:cover;
     justify-content: center;
    margin-left:50px;

    }

    [class="last"] {
      justify-content: center;
      margin-left:8em;
    }






}
